.hero {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 40px 20px;
    background-color: #F4F4F4;
    text-align: center; /* Center text alignment */
    height: 80vh; /* Set a height for the hero section */
  }
  
  .hero-text {
    max-width: 60%; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .hero-text h2 {
    font-size: 48px;
    color: #4A4A4A;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .explore-button {
    padding: 10px 20px;
    background-color: #4A4A4A;
    color: #FFF;
    border: none;
    cursor: pointer;
  }
  
  .hero-image {
    display: none; /* Hide the image for now, or you can reposition it */
  }
  